
footer{
    margin: o auto;
    display: flex;
    height: 80px;
    padding: .5rem;
    background-color: #030303;
}

.footer{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.discord{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 300px;

}
.discord img{
    max-width: 180px;
}

.social{
    display: flex;
    flex-direction: row;
    background-color: #030303;
    width: 300px;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;

}

.social a img{
    max-width: 40px;
}

.social a{
    background-color: #FFF;
    height: 40px;
    border-radius: 12px;
}

.registry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7983f5;
    max-width: 90px;  
    height: 40px;
    border-radius: 20px;
    
}

.registry a{
    margin: 0;
    text-decoration: none;
    color: #FFF;
}